{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "quotes": 0,
    "no-underscore-dangle": 0
  }
}
